<div class="container">
	<h3>Enter information about your company</h3>

	<%= render 'form' %>
</div>

<script type="text/javascript">
	var v = document.getElementById("terms").value;
    console.log(v);
</script>
