// Place all the styles related to the Ebooks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ebook {
	display : inline-block;
	text-align: center;
	padding-right: 10px;
	.ebook-cover {
		width: 150px;
    	height: 150px;
		img {
			width: 150px;
			height: 150px;
		}
	}
}
#tag_cloud {
	width: 400px;
	line-height: 1.6em;
	.css1 { font-size: 1.0em; }
	.css2 { font-size: 1.2em; }
	.css3 { font-size: 1.4em; }
	.css4 { font-size: 1.6em; }
}